header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  &.on {
    background-color: var(--bg-white);
  }
  .header-inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: var(--space-6) 0;
  }
  nav {
    margin-left: 200px;
    a {
      font-size: 17px;
      color: #111;
      & + a {
        margin-left: var(--space-25);
      }
    }
  }
  .user-nav {
    margin-left: auto;
    a {
      font-size: 15px;
      color: #111;
      & + a {
        margin-left: calc(var(--space-7) + 2px);
      }
    }
  }
}